/* Declarar variáveis que são usadas em toda a estilização. Sempre com "--" antes. */

:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* elemento não ultrapassa o tamanho da div pai */
}

/* Elementos base */

body {
    background: var(--preto);
    font-family: Arial, Times, serif; 
    color: white;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/* Aplica-se a todas as divs com essa class */
.container {
    margin-left: 30px;
}

header .container {
    display: flex; /* em linha */
    align-items: center; /* alinhar na vertical */
    justify-content: space-between; /* espaço entre os elementos filhos, h2 e nav */
}

/* Filme Principal */

.filme-principal .container {
    width: 80%;
}

.main-movie {
    font-size: 16px;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('http://www.hostcgs.com.br/hostimagem/images/446atletaA.jpg'); /* linear gradient: facilitar leitura. exige duas cores. */
    background-position: 40% 40%; /* horizontal e verical */
    background-size: cover; /* cobre toda a div pai */
    display: flex;
    flex-direction: column;
    justify-content: center; /* alinhamento vertical */
    align-items: flex-start; /* esquerda para direita */
}

.movie-title {
    margin-top: 15%; /* %: adapta-se ao tamanho da tela */
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.main-movie .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.button {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 13px;
    font-weight: bold;
    transition: .3s ease all; /* ease all: transição leve */
}

.button i { 
    margin-right: 8px; 
    font-size: 17px;
}

.button:hover { 
    background-color: white; 
    color: rgba(0, 0, 0, .50); 
}

.carousel-movies {
    margin-top: 15px;
}

.box-movie {
    width: 100%;
    height: 100%;
    display: block; /* Imagem do carousel exibida em caixa */
}
    